<div class="page-login">
    <img src="/img/imagem.png" alt="">

    <div class="login">
        <h1>Login: </h1>
    
        <form action="/user/login" method="post">
            <div class="form-control">
                <label for="email">EMAIL:</label><br>
                <input type="email" name="email" placeholder="Insira seu Email">
            </div>
            <div class="form-control">
                <label for="password">SENHA:</label><br>
                <input type="password" name="password" placeholder="Insira sua senha" >
            </div>
            <div class="form-control">
                <input type="submit" value="Entrar">
            </div>
    
            <p>Não tem conta?<a href="/user/create">Clique aqui!</a></p>
    
    
        </form>
    </div>
</div>