<main>
    <div class="home">


        <div class="box">
            <img class="reciclagem" src="img/imagem.png" alt="">
            <div>
                <h1>LOGÍSTICA REVERSA</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis neque nisi <br> dignissimos
                    fuga modi
                    autem voluptatem dicta, consectetur assumenda cum ex<br> dolore sunt doloribus! Ipsam libero
                    voluptatibus
                    aut pariatur culpa. Lorem ipsum <br>dolor sit amet, consectetur adipisicing elit. Magnam asperiores
                    repudiandae<br> deleniti itaque necessitatibus praesentium ipsam possimus nobis, illum, quam ratione
                    <br>saepe
                    non, nisi odio nihil. Vel odit impedit adipisci?Lorem ipsum dolor sit amet<br> consectetur
                    adipisicing elit.
                    Rerum, quasi maxime! Incidunt nobis ut porro aliquam<br> praesentium totam blanditiis nemo qui! Illo
                    voluptatem porro eius perferendis <br>consectetur sunt, numquam officia?</p>
            </div>
        </div>
        {{!-- <img class="img3" src="img/pngaaa 3.png" alt=""> --}}

        <div class="box2">

            <div class="box2-1">
                <div class="box2-img">
                    <h1>O QUE É LIXO ELETRÔNICO? </h1>
                    <img src="/img/apenas-20-das-mais-de-45-milhoes-de-toneladas-de-lixo-eletronico-e-reciclado-foto 1.png"
                        alt="">
                </div>


                <div class="box2-text">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem, <br> quas cumque velit
                        magni officiis sequi sint distinctio ullam ducimus quidem <br>quae alias in necessitatibus? Qui
                        in enim quasi eos tempora! Lorem ipsum <br>dolor sit, amet consectetur adipisicing elit. Tenetur
                        sequi aliquam inventore <br> debitis ipsa culpa neque ut illum libero ea mollitia officia
                        expedita odit susci <br>pit saepe, dolorum error. Maxime, earum? Lorem, ipsum dolor sit amet
                        consec <br>tetur adipisicing elit. Quod libero laboriosam dolorum, cumque laudantium ma <br>gni
                        hic dolore excepturi, eum fugit ratione aliquid harum neque unde architecto <br> in accusantium
                        consectetur veritatis.</p>

                    <a href=""><input type="button" value="SAIBA MAIS"></a>
                </div>
            </div>


            <div class="box-2-2">

                <div class="lista">
                    <div>
                        <img src="/img/lista.png" alt="">
                    </div>
                    <div class="lorem">
                        <div>
                            <p>LOREM</p>
                            <p>LOREM</p>
                            <p>LOREM</p>
                            <p>LOREM</p>
                            <p>LOREM</p>
                        </div>

                        <div>
                            <p>LOREM</p>
                            <p>LOREM</p>
                            <p>LOREM</p>
                            <p>LOREM</p>
                            <p>LOREM</p>
                        </div>
                    </div>
                </div>

                <div>
                    <h1>O QUE PODE SER DESCARTADO?</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem, <br> quas cumque velit
                        magni officiis sequi sint distinctio ullam ducimus quidem <br>quae alias in necessitatibus? Qui
                        in enim quasi eos tempora! Lorem ipsum <br>dolor sit, amet consectetur adipisicing elit. Tenetur
                        sequi aliquam inventore <br> debitis ipsa culpa neque ut illum libero ea mollitia officia
                        expedita odit susci <br>pit saepe, dolorum error. Maxime, earum? Lorem, ipsum dolor sit amet
                        consec <br>tetur adipisicing elit.</p>
                </div>

            </div>




            <div class="box-2-3">

                <div class="descarte">
                    <img src="/img/pien-realizara-campanha-de-coleta-de-lixo-eletronico-1559568719 1.png" alt="">
                    <a href="/collection/to-search"><input type="button" value="SAIBA ONDE DESCARTAR!"></a>
                </div>
            </div>

        </div>
    </div>






</main>