 <main>
        <form class="form-company" action="/company" method="post">
            <section class="section-principal">
                <div class="caixa-1">
                    <h2>Dados da empresa</h2>
                    <div class="form-control-op">
                        <input class="form-control-input" type="text" name="cnpj" placeholder="CNPJ">
                    </div>
                    <div class="form-control-op">
                        <input class="form-control-input" type="text" name="razaosocial" placeholder="Razão social">
                    </div>
                    <div class="form-control-op">
                        <input class="form-control-input" type="text" name="nome" placeholder="Nome fantasia">
                    </div>
                    <div class="form-control-op">
                        <input class="form-control-input" type="text" name="municipal" placeholder="Insc. Municipal">
                    </div>
                    <div class="form-control-op">
                        <input class="form-control-input" type="text" name="cnae" placeholder="CNAE">
                    </div>
                </div>
                <div class="caixa-2">
                    <h2>Dados do endereço</h2>
                    <div class="form-control-op">
                        <input class="form-control-input" type="text" name="rua" placeholder="Rua/Av">
                    </div>
                    <div class="form-control-op">
                        <input class="form-control-input" type="text" name="numero" placeholder="Número">
                    </div>
                    <div class="form-control-op">
                        <input class="form-control-input" type="text" name="bairro" placeholder="Bairro">
                    </div>
                    <div class="form-control-op">
                        <input class="form-control-input" type="text" name="cep" placeholder="CEP">
                    </div>
                    <div class="form-control-op">
                        <input class="form-control-input" type="text" name="complemento" placeholder="Complemento">
                    </div>
                    <div class="form-control-op">
                        <input class="form-control-input" type="text" name="cidade" placeholder="Cidade">
                    </div>
                    <div class="form-control-op">
                        <input class="form-control-input" type="text" name="estado" placeholder="Estado">
                    </div>
                </div>
                <div class="caixa-3">
                    <h2>Dados do responsavél</h2>
                    <div class="form-control-op">
                        <input class="form-control-input" type="text" name="nomeresp" placeholder="Nome">
                    </div>
                    <div class="form-control-op">
                        <input class="form-control-input" type="text" name="depto" placeholder="Depto">
                    </div>
                    <div class="form-control-op">
                        <input class="form-control-input" type="text" name="email" placeholder="E-mail">
                    </div>
                    <div class="form-control-op">
                        <input class="form-control-input" type="text" name="tel" placeholder="Telefone">
                    </div>
                    <input class="form-control-enviar" type="button" value="Enviar">
                </div>
            </section>
        </form>
    </main>