
    <div class="mapa">
  <div id="map_none">
      
                <img class="img-map" src="/img/mapa.png" alt="">
  </div>
            <div id="mapa_icon">
                <img src="/img/Vector.png" alt="">
                <input id="map_btn" type="button" value="USAR LOCALIZAÇÃO ATUAL">
            </div>
  
    
    </div>
    
    
    <div id="conteudo_map">
        <div class="caixa-mapid">
            <div id="mapid"></div>
        </div>
    
    </div>


<script src="/js/map.js"></script> 